// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap');
@import url("https://use.typekit.net/rax0phx.css");

// Define fonts for body and headers
$body-font: "Muli", "Helvetica", "sans-serif";
$headers-font: "Marvel", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

ul, li {
  font-family: $headers-font;
}
h1 {
  font-size: 30px!important;
  @media screen and (max-width: 950px) {
        font-size:24px!important;
    }
  @media screen and (max-width: 768px)  {
    font-size: 22px!important;
  }
}
h2 {
  font-size: 28px!important;
  @media screen and (max-width: 950px) {
        font-size:22px!important;
    }
  @media screen and (max-width: 768px)  {
    font-size: 20px!important;
  }
}
h3 {
  font-size: 26px!important;
  @media screen and (max-width: 950px) {
        font-size:20px!important;
    }
  @media screen and (max-width: 768px)  {
    font-size: 18px!important;
  }
}
p {
  font-size: 18px!important;
  @media screen and (max-width: 950px) {
        font-size:16px!important;
    }
  @media screen and (max-width: 768px)  {
    font-size: 14px!important;
  }
}