<div class="form-course-type">
  <h4>Create a new course type</h4>
  <%= simple_form_for @courses_type do |f| %>
  <%# in css do label[for=courses_type_note] { vertical-aligne: top} %>
    <%= f.input :note %>
    <%= f.input :image_path %>
    <%= f.button :submit, 'Create', {:class=>"btn-save btn-course-type"}%>
  <% end %>
</div>
