.course_show_div {
  width: 100%;
  height: 100%;
  margin: 5vh auto;
  border: 1px solid black;
  .course_show_top {
    margin: 0 1.5em 2em 1.5em;
    height: 13vh;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    .course_show_top_time {
      width: 13vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        font-family: $headers-font;
        font-size: 36px;
        text-align: center;
        margin: 0 auto;
      }
    }
    .course_show_top_name_language {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-family: $headers-font;
        font-size: 36px;
        align-items: center;
        text-align: center;
        margin: 0;
      }
    }
    .course_show_top_register_number {
      width: 13vw;
      display: flex;
      align-items: center;
      justify-content: right;
      p {
        font-family: $headers-font;
        font-size: 36px;
        text-align: right;
        width: 100%;
        margin: 0;
      }
    }
  }
  .course_show_address {
    margin: 0 1.5em 2em 1.5em;
    height: 100%;
    p {
      font-size: 24px;
    }
  }
  .course_show_description {
    margin: 0 1.5em 2em 1.5em;
    height: 100%;
    p {
      text-align: left;
      font-size: 24px;
    }
  }
  .course_show_bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 1.5em 1em 1.5em;
    height: 100%;
    h3 {
      text-align: center;
      font-size: 30px;
      border-bottom: 1px solid black;
      background-color: #f6ebeb;
      padding: 1vh 0;
      position: sticky;
    }
    p {
      font-size: 20px;
      margin: 0px;
      padding-left: 1vw;
    }
    .course_show_box {
      border: 1px solid black;
      width: 30%;
      height: 30vh;
      overflow-y: scroll;
    }
  }
}
