.form-location {
  width: 40vw;
  margin: 0 auto;
  padding: 40px;
  margin-top: 40px;
  background-color: white;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;

  h4 {
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 2px solid gray;
  }

  label {
    font-color: $black;
  }

  input[type="text"] {
    border-radius: 8px;
    border-width: 1px;
    font-family: $body-font;
    width: 100%;
    padding-left: 10px;

    &:focus{
      outline: none;
    }
  }

  .location_name {
    padding-top: 8px;
  }

  .location-inputs {
    display: flex;
    margin-top: 12px;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    margin-top: 10px;
  }

  .select {
    border-radius: 8px;
    border-width: 1px;
    font-family: $body-font;
    width: 100%;
    padding-left: 10px;

    &:focus{
      outline: none;
    }

  }
}
