.locations_index_table {
  table {
    width: 100%;
    th {
      border: 1px solid black;
      padding: 1vh 2vw;
    }
    td {
      border: 1px solid black;
      padding: 1vh 2vw;
    }
  }
}

.div_btn_add {
  width: 100%;
  display: flex;
  margin: 10px 0;
  p {
    margin: 0;
  }
  a {
    font-size: 20px;
    color: white;
    background-color: #005f5f;
    text-decoration: none;
    width: auto;
    text-align: center;
    padding: 0.7vh 2vw;
    border-radius: 10px;
    margin: 0 auto 2vh auto;
    margin-right: 0;
    &:hover {
      background-color: #05a85e;
    }
  }
}
