.navbar_settings {
  margin: 0!important;
  padding: 0!important;
  background-color: #444;
  text-align: center;
  li {
    display: inline-block;
    width: 15%;
    margin-right: -4px;
    vertical-align: middle;
  }
  a {
    color: #fff;
    display: block;
    text-decoration: none;
    &:hover {
      background-color: #005f5f;
    }
    &:active {
      background-color: #eee;
      color: #444;
      cursor: default;
    }
  }
  .active {
    background-color:#005f5f;
  }
}

